<mat-card>
  <a matTooltip="Back to help" routerLink="/help" class="pe-7s-angle-left table-back">Back</a>
  <h3>Videos that may help you!</h3>
  <div class="links">

    <!-- <a class="col-md-6 col-sm-6 tiles" (click)="show('1_Registration_Trial.ogv')">
      <div class="tiles-content">
        <i class="material-icons video">videocam</i>
        <span>Registration Trial</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('2_Registration_with_payment_page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Registration with payment</span>
      </div>
    </a> -->

    <a class="col-md-6 col-sm-6 tiles" (click)="show('3_Login.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Login</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('4_Forgot_Password.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Forgot Password</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('5_Dashboard.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Home</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('6_Users.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Users</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('7_Setup_City_-_Add_Edit_Delete.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Setup City</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('8_Setup_Recurrence.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Setup Recurrence</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('9_Park_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Parks</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('10_Park_Inspection_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Park Inspection</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('11_Park_Inspector_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Park Inspector</span>
      </div>
    </a>

    <a class="col-md-6 col-sm-6 tiles" (click)="show('12_Park_Equipments_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Park Equipment</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('14_Assessment_Checklist_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Assessment Checklist</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('15_Record_Page_in_park_list.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Record Page in park list</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('16_Record_page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Record</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('17_Due_For_Inspection_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Due For Inspection</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('18_Inspection_Request_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Inspection Request</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('19_Inspection_Report_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Inspection Report</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('20_Generate_Work_Order.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Work Order</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('21_Park_History_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Park History</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('22_Work_Order_History_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Work Order History</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('24_Email_page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Email</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('25_Amenity_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Amenity</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('26_Questions_page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Questions</span>
      </div>
    </a>
    <a class="col-md-6 col-sm-6 tiles" (click)="show('27_User_inquiry_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>User inquiry</span>
      </div>
    </a>
    <!-- <a class="col-md-6 col-sm-6 tiles" (click)="show('28_Plan_Upgrade_Page.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Plan Upgrade</span>
      </div>
    </a> -->
    <!-- <a class="col-md-6 col-sm-6 tiles" (click)="show('29_Customized_Plan.ogv')">
      <div class="tiles-content">
        <i class="material-icons">videocam</i>
        <span>Customized Plan</span>
      </div>
    </a> -->

  </div>
</mat-card>