<h1 class="dialog-head"><b>Records in {{moreDetails.parkName}}</b>
  <span matTooltip="Close" matTooltipPosition="right" (click)="close()"><i class="material-icons">close</i></span>
</h1>
<button class="add-btn" (click)="add()" matTooltip="Add new" mat-raised-button>Add Record</button><br/>
<mat-form-field *ngIf="recordStatus" class="search-box">
  <input autofocus [(ngModel)]="filterArray.asset_name" matInput placeholder="Search record name...">
</mat-form-field>
<p *ngIf="!recordStatus" class="note">No records found</p>
<br/><br/>
<table *ngIf="recordStatus" class="table table-hover">
  <thead>
    <tr>
      <th>Record Name</th>
      <th>Type</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assignedRecord of assignedRecords  | filterBy: filterArray | paginate: { itemsPerPage: 8, currentPage: p }">
      <td>{{assignedRecord.asset_name}}</td>
      <td>
        <i *ngIf="assignedRecord.asset_type=='image'" class="material-icons img-icon">camera_alt</i>
        <i *ngIf="assignedRecord.asset_type=='doc'" class="material-icons doc-icon">insert_drive_file</i>
      </td>
      <td>{{assignedRecord.date  | date:'shortDate'}}</td>
      <td>
        <a target="_blank" href="{{imageUrl}}{{assignedRecord.asset_url}}" class="btn btn-xs view-btn">View</a>
      </td>
    </tr>
  </tbody>
  <tr class="icon-and-text" *ngIf="(items | filterBy: filterArray).length === 0">
    <i class="material-icons alert-icon animated wobble">warning</i>
    <span class="alert-text">No such details available!</span>
  </tr>
</table>
<pagination-controls *ngIf="recordStatus" class="pagination" (pageChange)="p = $event"></pagination-controls>
