<h1 class="dialog-head">
  <b>Edit {{moreDetails.categoryName}}</b>
  <span matTooltip="Close" matTooltipPosition="right" (click)="close()">
    <i class="material-icons">close</i>
  </span>
</h1>
<mat-card>
  <form #updateForm="ngForm" (ngSubmit)="edit(updateForm.value)">
    <div class="col-md-12 ">

      <div>
        <mat-form-field class="animated fadeInDown col-md-12 col-sm-12">
          <input pattern="[A-Za-z0-9 ]{2,50}" type="text" [(ngModel)]="moreDetails.categoryName" name="category"
            required matInput placeholder="Category">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="animated fadeInDown col-md-12 col-sm-12">
          <input pattern="[A-Za-z0-9 ]{2,50}" type="text" [(ngModel)]="moreDetails.categoryDescription"
            name="description" required matInput placeholder="Description">
        </mat-form-field>
      </div>



    </div>

    <button type="submit" [disabled]="!updateForm.valid||!btnStatus" mat-raised-button>{{btnLabel}}</button>
  </form>
</mat-card>