<mat-card>
  <a matTooltip="Back to help" routerLink="/help" class="pe-7s-angle-left table-back">Back</a>
  <img class="logo" src="./assets/parkzapp/PZlogo.png" />
  <p class="animated fadeInUp">Mobile Technology has opened a world of opportunities to help us decrease our carbon footprint. Reducing the use of paper
    and stationery is just one way to help preserve the "green-ness" of our Earth. Our focus is on the preservation of both
    natural and man- made amenities available in an integral space that brings communities together - Parks! We believe every
    community deserves lush and defect-free parks and playgrounds that are enjoyable year-round.</p>
  <br/>
  <p class="animated fadeInUp">With ParkZapps ease of use, you barely have to lift a finger! All you need is a tablet or smartphone to swipe or tap towards
    a community safe-haven. Let strive towards a future where all playgrounds provide an injury-free experience, all because
    of efficient effective inspection procedures. No papers, no pencils, no clutter, just an organized digital platform for
    field and office tasks. Join our movement to make YOUR parks safer and OUR world greener.</p>

</mat-card>
