.dialog-head {
    color: #666666;
    font-size: 20px;
    margin-top: 0px;
  }
  
  .dialog-head span {
    float: right;
    cursor: pointer;
  }
  
  mat-form-field {
    width: 100%;
    font-family: 'Simonetta', cursive;
    font-weight: bold;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  img {
    width: 300px;
    height: 200px;
  }
  
  mat-dialog-container {
    width: 100%;
    transform: none;
    opacity: 1;
    height: 70%;
  }
  
  ul {
    padding-left: 0px;
    list-style: none;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
  }
  
  .li-details {
    font-weight: 200 !important;
    margin-left: 5px;
  }
  /* #scrollable-area {
    margin: auto;
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    overflow-y: scroll;
  }   
  */
  button {
    background-color: rgba(47, 74, 12, 0.82);
    color: white;
    width: 100%;
  }
  
  .lineHeight{
    line-height: 0.8;
    font-size: 12px;
  }
  
  .cancel {
    background-color: #c52727;
    color: white;
    width: 100%;
  }