.view-btn-doc {
  border-color: rgb(167, 53, 17) !important;
  color: white !important;
  background-color: rgb(167, 53, 17) !important;
}

.doc-icon {
  color: #b75c3f;
}

.img-icon {
  color: #4f8aaf;
}
