<h1 class="dialog-head"><b>Edit inspection of {{moreDetails.parkName}}</b>
  <span matTooltip="Close" matTooltipPosition="right" (click)="close()"><i class="material-icons">close</i></span>
</h1>
<mat-card>
  <form #updateForm="ngForm" (ngSubmit)="edit(updateForm.value)">
    <mat-form-field>
    <mat-select disabled required class="equipment-select" placeholder="Inspection Type"
      [(ngModel)]="formValues.inspectionId" name="inspectionType" style="padding: 0px;">
      <mat-option [value]="inspectionType.id" *ngFor="let inspectionType of inspectionTypes">
        {{inspectionType.inspectiontype}}
      </mat-option>
    </mat-select>
  </mat-form-field>
      <br /><br />
      <mat-form-field>
    <mat-select required class="equipment-select" placeholder="Inspector" [(ngModel)]="formValues.InspectorId"
      name="inspecctor" style="padding: 0px;">
      <mat-option [value]="inspector.user_id" *ngFor="let inspector of inspectors">
        {{inspector.first_name}}
      </mat-option>
    </mat-select>
   </mat-form-field>
    <br />
    <br />
    <mat-form-field>
    <mat-select class="equipment-select" required placeholder="Priority" [(ngModel)]="formValues.priority"
      name="priority" style="padding: 0px;">
      <mat-option value="High">High</mat-option>
      <mat-option value="Medium">Medium </mat-option>
      <mat-option value="Low">Low</mat-option>
      <mat-option value="None">None</mat-option>
    </mat-select>
  </mat-form-field>
    <br />
    <br />
  <mat-form-field>
    <mat-select required class="equipment-select" placeholder="Recurrence" [(ngModel)]="formValues.recurrenceId"
      name="recurrence" style="padding: 0px;">
      <mat-option [value]="recurrence.id" *ngFor="let recurrence of recurrences">
        {{recurrence.schedule_name}}
      </mat-option>
    </mat-select></mat-form-field><br /><br />


    <mat-form-field>

      <input onkeydown="return false" [matDatepicker]="picker" [min]="minDate" [(ngModel)]="date" name="date" required
        matInput placeholder="Inspect On">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field><br />
    <button type="submit" class="add-btn" mat-raised-button>{{btnLabel}}</button>
  </form>
</mat-card>