<div class="col-md-12 margin-top">
  <div class="card">
    <div class="content table-responsive table-full-width">
      <mat-form-field *ngIf="dataFetchStatus" class="search-box">
        <input autofocus [(ngModel)]="filterArray.question" matInput placeholder="Search question..">
      </mat-form-field>
      <button class="btn add-new-btn" (click)="add()" matTooltip="Add new Questions" mat-raised-button>Add New</button>
      <mat-progress-bar *ngIf="!dataFetchStatus" mode="indeterminate"></mat-progress-bar>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Customized Questions</th>
            <th>Answer</th>
            <th>Question Set</th>
            <th class="action-th">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questions | filterBy: filterArray | paginate: { itemsPerPage: 5, currentPage: p }">

            <td>{{question.question}}</td>
            <td>{{question.answer}}</td>
            <td>{{question.questionnaire_set_name}}</td>
            <td>
              <button (click)="edit(question)" [class.hidden]="question.status" class="btn btn-xs edit-btn edit">Edit</button>
              <button (click)="delete(question)" [class.hidden]="question.status" class="btn btn-xs delete-btn delete" style="margin-left: 3px;">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>


    </div>
  </div>
</div>
