.dialog-head {
  color: #666666;
  font-size: 20px;
  margin-top: 0px;
}

.dialog-head span {
  float: right;
  cursor: pointer;
}

mat-card {
  margin: 2%;
}

mat-form-field {
  font-family: 'Simonetta', cursive;
  font-weight: bold;
  font-size: 17px;
}

button {
  background-color: rgba(47, 74, 12, 0.82);
  color: white;
  width: 100%;
}

mat-select {
  font-family: 'Simonetta', cursive;
  font-weight: bold;
  font-size: 17px;
}

label {
  width: 100%;
  font-family: 'Simonetta', cursive;
  font-weight: bold;
  color: #a7a7a7;
  font-size: 17px;
}

.work-order {
  color: #9e9e9e;
}

label span {
  font-size: 23px;
  letter-spacing: 2px;
}
