<div class="main-content">
  <a routerLink="/city" class="col-md-6 col-sm-6 tiles">
    <div class="tiles-content {{this.homeClass}}">
      <i class="pe-7s-culture animated fadeInUp"></i>
      <span style="margin-left: 15px;">City</span>
      <p class="description">View or add Cities / Street address / State.</p>
    </div>
  </a>

  <a routerLink="/parks" class="col-md-6 col-sm-6 tiles">
    <div class="tiles-content {{this.homeClass}}">
      <i class="pe-7s-leaf animated fadeInUp"></i>
      <!-- <span>Parks Management</span> -->
      <span style="margin-left: 15px;">{{textName}} Management</span>

      <p class="description">View or add {{textName}}. </p>
    </div>
  </a>

  <a routerLink="/emails" class="col-md-6 col-sm-6 tiles">
    <div class="tiles-content {{this.homeClass}}">
      <i class="pe-7s-mail animated fadeInUp"></i>
      <span style="margin-left: 15px;">Emails</span>
      <p class="description">View or add Emails.</p>
    </div>
  </a>

  <a routerLink="/amenities" class="col-md-6 col-sm-6 tiles">
    <div class="tiles-content {{this.homeClass}}">
      <!-- <i class="pe-7s-science animated fadeInUp"></i> -->
      <i class="large material-icons animated fadeInUp">format_paint</i>
      <span style="margin-left: 15px;">Amenities</span>
      <p class="description">View or add Amenities.</p>
    </div>
  </a>

  <a routerLink="/questions" class="col-md-6 col-sm-6 tiles">
    <div class="tiles-content {{this.homeClass}}">
      <i class="pe-7s-help1 animated fadeInUp"></i>
      <span class="font" style="margin-left: 15px;">Question Management</span>
      <p class="description">View or add questions suitable for your inspections.</p>
    </div>
  </a>
  <a routerLink="/recurrence" class="col-md-6 col-sm-6 tiles">
    <div class="tiles-content {{this.homeClass}}">
      <i class="pe-7s-repeat animated fadeInUp"></i>
      <span style="margin-left: 15px;">Recurrence</span>
      <p class="description">When will your {{subtextName}} be due for its next inspection?</p>
    </div>
  </a>
  <a routerLink="/customizedQuestion" class="col-md-6 col-sm-6 tiles">
    <div class="tiles-content {{this.homeClass}}">
      <!-- <i class="pe-7s-repeat animated fadeInUp"></i> -->
      <i class="large material-icons animated fadeInUp">done_all</i>
      <span class="font" style="margin-left: 15px;">Customized Questions</span>
      <p class="description">View or add questions suitable for your customized inspections.</p>
    </div>
  </a>
  <a routerLink="/area" class="col-md-6 col-sm-6 tiles">
    <div class="tiles-content {{this.homeClass}}">
      <!-- <i class="pe-7s-repeat animated fadeInUp"></i> -->
      <i class="large material-icons animated fadeInUp">done_all</i>
      <span class="font" style="margin-left: 15px;">Area</span>
      <p class="description">View or add area.</p>
    </div>
  </a>
  <a routerLink="/category" class="col-md-6 col-sm-6 tiles">
    <div class="tiles-content {{this.homeClass}}">
      <!-- <i class="pe-7s-repeat animated fadeInUp"></i> -->
      <i class="large material-icons animated fadeInUp">done_all</i>
      <span class="font" style="margin-left: 15px;">Category</span>
      <p class="description">View or add category.</p>
    </div>
  </a>
</div>