<div class="col-md-12 margin-top">
  <div class="card">
    <div class="content table-responsive table-full-width">
      <mat-form-field *ngIf="dataFetchStatus" class="search-box">
        <input autofocus [(ngModel)]="filterArray.questionnaireSetName" matInput placeholder="Search question set..">
      </mat-form-field>
      <button class="btn add-new-btn" (click)="addQuestionSet()" matTooltip="Add new Question Set" mat-raised-button>Add New</button>
      <mat-progress-bar *ngIf="!dataFetchStatus" mode="indeterminate"></mat-progress-bar>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Customized Question Set</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let questionSet of questionSets | filterBy: filterArray | paginate: { itemsPerPage: 5, currentPage: p }">
              <td>{{questionSet.questionnaireSetName}}</td>
              <td>
                  <button (click)="edit(value)" class="btn btn-xs edit-btn edit">Edit</button>
                  <button (click)="delete()" class="btn btn-xs delete-btn delete">Delete</button>
              </td>
            </tr> -->
          <tr *ngFor="let questionSet of questionSets| filterBy: filterArray | paginate: { itemsPerPage: 5, currentPage: p }">
            <td>{{questionSet.questionnaireSetName}}</td>
            <td>
              <button (click)="edit(questionSet)" class="btn btn-xs edit-btn edit">Edit</button>
              <!-- <button (click)="delete(questionSet)" class="btn btn-xs delete-btn delete">Delete</button> -->
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls *ngIf="dataFetchStatus" class="pagination" (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>
</div>
