<h1 class="dialog-head">
  <b>Update Question</b>
  <span matTooltip="Close" matTooltipPosition="right" (click)="close()">
    <i class="material-icons">close</i>
  </span>
</h1>
<mat-card>
  <form #editForm="ngForm" (ngSubmit)="edit(editForm.value)">
  <mat-form-field >
    <mat-select disabled required placeholder="Inspection Type" [(ngModel)]="moreDetails.inspectionTypeId" name="inspectionType" required style="padding: 0px;">
      <mat-option (click)="enableButton()" [value]="inspectionType.id" *ngFor="let inspectionType of inspectionTypes">
        {{inspectionType.inspectiontype}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field>
    <mat-select disabled placeholder="Question Set" [(ngModel)]="moreDetails.questionnaire_set_id" name="questionSet" style="padding: 0px;">
      <mat-option (click)="enableButton()" [value]="questionSet.id" *ngFor="let questionSet of questionSets">
        {{questionSet.questionnaireSetName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field class="animated fadeInDown">
      <textarea (keyup)="enableButton()" type="text" pattern="^[A-Za-z0-9](?!.*?\s$)[A-Za-z0-9,.'?\s]{0,}$" minlength="3"
        maxlength="300" [(ngModel)]="moreDetails.question" name="question" required matInput placeholder="Enter New Question"></textarea>
    </mat-form-field>
    <mat-form-field>
    <mat-select required placeholder="Answer" [(ngModel)]="moreDetails.answer" name="answer" class="animated fadeInDown"
      required style="padding: 0px;">
      <mat-option (keyup)="enableButton()" [value]="linkData" *ngFor="let linkData of linkDatas">
        {{linkData}}
      </mat-option>
    </mat-select>
    </mat-form-field>
    <button type="submit" [disabled]="!editForm.valid ||!btnStatus" mat-raised-button>{{btnLabel}}</button>
  </form>
</mat-card>
