<mat-card>
  <a matTooltip="Back to help" routerLink="/help" class="pe-7s-angle-left table-back">Back</a>
  <h3>Documents that may help you!</h3>
  <div class="links">

    <!-- <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/1.+Registration+Trial.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>Let's get started and register with ParkZapp</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/2.+Registration+with+payment+page.docx.pdf"
      target="_blank" class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>Let's do ParkZapp registration with payment</span>
      </div>
    </a> -->

    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/3.+Login.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can we Login?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/4.+Forgot+Password.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>Forgot your password?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/6.+Users.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the users?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/park.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>Let's see the park page</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/addinspection.pdf  " target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How to check the park inspection?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/11.Park+Inspector+Page.pdf  " target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How to assign the park inspector?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/12.Park+Equipments+Page.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I see the park equipment?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/13.Equipment+Hiding.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I hide a equipment?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/14.Assessment+Checklist+Page.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the assessment checklist? </span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/15.Record+Page+in+park+list.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the records?</span>
      </div>
    </a>


    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/7.+Setup+City+-+Add%2C+Edit%2C+Delete.docx.pdf"
      target="_blank" class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I setup city?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/8.+Recurrence.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I set the recurrence?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/24+Email+page.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the Emails?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/25+Amenity+Page.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the Amenities?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/questions.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the questions?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/area.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the area?</span>
      </div>
    </a>

    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/category.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the category?</span>
      </div>
    </a>

    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/customisedquestions.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage customized questions?</span>
      </div>
    </a>


    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/inspectionDue.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the due for inspection?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/18+Inspection+Request+Page.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the inspection request?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/InspectionReports.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I check the inspection reports?</span>
      </div>
    </a>


    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/generateworkorder.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I generate work Orders?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/21+Park+History+Page.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the park history?</span>
      </div>
    </a>
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/woHistory+Page.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I manage the work Order history?</span>
      </div>
    </a>

    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/27+User+inquiry+Page.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I inquiry user?</span>
      </div>
    </a>
    <!-- <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/28+Plan+Upgrade+Page.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I upgrade a plan?</span>
      </div>
    </a> -->
    <a href="https://s3.amazonaws.com/parkzappdev/helpdocuments/customizePlan.pdf" target="_blank"
      class="col-md-6 col-sm-6 tiles">
      <div class="tiles-content">
        <i class="pe-7s-note2 animated fadeInUp"></i>
        <span>How can I customize plan?</span>
      </div>
    </a>

  </div>
</mat-card>