<h1 class="dialog-head">Forgot your password?
  <span matTooltip="Close" matTooltipPosition="right" (click)="close()"><i class="material-icons">close</i></span>
</h1>
<!--VERIFY ZAPPCODE AND USERNAME-->
<form *ngIf="resetFormStatus" #resetForm="ngForm">
  <mat-form-field>
    <input pattern=".{6,8}" autofocus required #usernameEmailRef name="zappcode" [(ngModel)]="zappcodeReset" type="text" class="animated fadeInUp"
      matInput placeholder="Zappcode">
  </mat-form-field>
  <mat-form-field>
    <input pattern=".{2,20}" required #usernameEmailRef name="username" [(ngModel)]="usernameReset" type="text" class="animated fadeInUp"
      matInput placeholder="Username">
  </mat-form-field><br/>
  <button [disabled]="!resetForm.valid || !submitBtnStatus" (click)="sendVerificationCode()" class="send-btn" mat-button>{{submitBtnLabel}}</button>
  <p class="note">
    You will receive a verification code to the associated Email ID.
  </p>
</form>

<!--VERIFY VERIFICATION CODE-->
<form *ngIf="verifyFormStatus">
  <mat-form-field class="animated fadeInUp">
    <input autofocus required #usernameEmailRef name="verificationCode" [(ngModel)]="verificationCode" type="text" matInput placeholder="Enter the verification code">
  </mat-form-field>
  <button mat-button class="send-btn" (click)="verifyCode()">Verify</button>
  <p class="note">
    Please check your mail and provide the verification code.
  </p>
</form>

<!--RESET PASSWORD-->
<form *ngIf="newPwdFormStatus" #pwdForm="ngForm">
  <mat-form-field class="animated fadeInUp">
    <input minlength="8" autofocus required #usernameEmailRef name="newPwd" [(ngModel)]="newPwd" type="password" matInput placeholder="Enter new password">
  </mat-form-field>
  <mat-form-field class="animated fadeInUp">
    <input minlength="8" autofocus required #usernameEmailRef name="newPwdConfirm" [(ngModel)]="newPwdConfirm" type="password"
      matInput placeholder="Confirm new password">
  </mat-form-field>
  <button [disabled]="!pwdForm.valid || !resetPwdBtnStatus" mat-button class="send-btn" (click)="resetPassword()">{{resetPwdBtnLabel}}</button>
  <p class="note">
    Need minimum 8 characters for new password
  </p>
</form>
